<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">


<suite name="Suite">


  <test name="Regression Testing">
    <classes>
      <class name="com.Prod.dtx_project.A_MainLandingPg"/>
      <class name="com.Prod.dtx_project.B_DIF1v2"/>
      <class name="com.Prod.dtx_project.C_ProfileLogin"/>
      <class name="com.Prod.dtx_project.D_SearchPg"/>
      <class name="com.Prod.dtx_project.E_DIF2eAwaitingReview"/>
      <class name="com.Prod.dtx_project.F_StillBeingReviewed"/>
    </classes>
  </test> 
  
  
<!--     <test name="Regression Testing">
    <classes>
      <class name="com.Prod.dtx_project.DIF1"/>
    </classes>
  </test>  -->
  
  
</suite>
